python-escpos
Pillow
opencv-python
requests
PyYAML
fpdf2
pyzbar
cryptography
wmi;platform_system=="Windows"
psutil
pywin32;platform_system=="Windows"
openpyxl
pandas
matplotlib
reportlab
jinja2
xlsxwriter
sqlalchemy
flask
tkinter-tooltip
# Dependencias para facturación electrónica Costa Rica
xmltodict
python-dateutil
pytz
lxml         